.about
    .container
        .row
            .col-lg-6 
                h1 About us
                h4 IT STARTED, QUITE SIMPLY, LIKE THIS...
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia, nostrud exercitation ullamco.
                p Aenean commodo ligula eget dolor aenean massa. Cum sociis nat penatibu set magnis dis parturient montes, nascetur ridiculus mus. quam felisorat, ultricies nec, Aenean commodo ligula eget dolor penatibu set magnis is parturient montes, nascetur ridiculus mus. quam felisorat, ultricies nec, pellentesque eu, pretium quis, sem. quat massa quis enim. Donec vitae sapien ut libero venenatis fauci Nullam quis ante. Etiam sit amet rci eget eros.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia, nostrud exercitation ullamco.


            .col-lg-6 
                .img3
                    img.img1(src="imgs/about-main.jpg")
                
                    img.img2(src="imgs/about-inset.jpg")
.special
    .overlay
    .container
        h1.text-center today special
        p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia,nostrud exercitation ullamco.
        .owl-theme.owl-carousel
            
                

                
            .item
                .img
                    img(src="imgs/special-menu-2.jpg")
            .item
                .img
                    img(src="imgs/special-menu-3.jpg")
            .item
                .img
                    img(src="imgs/special-menu-1.jpg")
            .owl-dots 
                .owl-dot.active.ss
                    span
                
            

            