.blog#blog
    h1.text-center Our Blog
    .container
        .row
            .col-lg-6
                .box
                    .imgbox
                        a(href="")

                            img(src="imgs/featured-image-01.jpg")
                        .overlay
                            i.fas.fa-link
                    .par.text-center
                        p 25 NOVEMBER, 2014
                        h4 LATEST RECIPES JUST IN!
                        p  BY John Doggett
            .col-lg-6
                .box
                    .imgbox
                        a(href="")

                            img.img1(src="imgs/featured-image-02.jpg")
                        .overlay
                            i.fas.fa-link
                    .par.text-center
                        p 25 NOVEMBER, 2014
                        h4 LATEST RECIPES JUST IN!
                        p  BY John Doggett
        .row
            .col-lg-6
                .box
                    .imgbox
                        a(href="")

                            img.img2(src="imgs/featured-image-03.jpg")
                        .overlay
                            i.fas.fa-link
                    .par.text-center
                        p 25 NOVEMBER, 2014
                        h4 LATEST RECIPES JUST IN!
                        p  BY John Doggett
            .col-lg-6
                .box
                    .imgbox
                        a(href="")

                            img.img3(src="imgs/featured-image-04.jpg")
                        .overlay
                            i.fas.fa-link
                    .par.text-center
                        p 25 NOVEMBER, 2014
                        h4 LATEST RECIPES JUST IN!
                        p  BY John Doggett
        .but.text-center
            a(href="") view the belog
    