.contact#contact
    .overr
    .imgg.text-center
        img(src="imgs/logo.png")
    .container
        .row
            .col-lg-3.b1
                h4 About us
                p Aenean commodo ligula eget dolor aenean massa. Cum sociis nat penatibu set magnis dis parturient montes.
                ul.list-unstyled
                    li 
                        a(href="")
                            i.fab.fa-facebook
                    li 
                        a(href="")
                            i.fab.fa-twitter
                    li 
                        a(href="")
                            i.fab.fa-google-plus
                    li 
                        a(href="")
                            i.fab.fa-pinterest
                    li 
                        a(href="")
                            i.fab.fa-linkedin
            .col-lg-3.b2
                h4 New Menu
                p Italian Bomba SandwichDouble Dose of Pork BellySpicy Thai Noodles Triple Truffle Trotters
            .col-lg-3.b3
                h4 Contact Us
                p 
                    i.fas.fa-map-signs
                    | 6 E Esplanade, St Albans VIC 3021, Australia
                p 
                    i.fas.fa-mobile
                    | 6 E Esplanade, St Albans VIC 3021, Australia
                p 
                    i.fas.fa-envelope
                    | 6 E Esplanade, St Albans VIC 3021, Australia

            .col-lg-3.b4
                h4 opening hours
                p Monday - Thursday
                p 11:00 AM - 9:00 PM
                p Friday - Saturday
                p 11:00 AM - 5:00 PM
.footer
    p Copyright © 2017 Food Funday is powered by