.gallary
    h1.text-center our gallary
    p.text-center There are many variations of passages of Lorem Ipsum available
    .container
        .row
            .col-lg-8.col-sm-12
                .img1
                    
            .col-lg-4.col-sm-6
                .img2
        
            .col-lg-4.col-sm-6
                .img3
                    
            .col-lg-4.col-sm-6
                .img4
            .col-lg-4.col-sm-6
                .img5
        
            .col-lg-4.col-sm-6
                .img6
                    
            .col-lg-8.col-sm-12
                .img7
        
            .col-lg-4.col-sm-6
                .img8
                    
            .col-lg-4.col-sm-6
                .img9
            .col-lg-4.col-sm-6
                .img10
                    