.header#header
    h1.text-center Dinner with us Officemates
    h2.text-center Accidental appearances
    p.text-center Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod
    .btn1.text-center
        a(href="") Book My Table