.menu#menu
    h1.text-center our menu
    p.text-center There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
    .container
        .carousel.slide.carousel-fade#carouselExampleIndicators(data-bs-ride="carousel")
            .carousel-indicators
                
                        div.dd(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1") 
                            h4 staress
                            i.flaticon-canape
                    
                        div.dd(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2")
                            h4 MAIN DISHES
                            i.flaticon-dinner
                    
                        div.dd(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3") 
                            h4 deserts
                            i.flaticon-desert
                    
                        div.dd(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-current="true" aria-label="Slide 4") 
                            h4 drinks
                            i.flaticon-coffee
            .carousel-inner
                .carousel-item.active.fr
                    
                            
                    
                    
                    .carousel-caption.d-md-block
                    
                        .row
                            .col-lg-6
                                .xx
                                    img.img-thumbnail(src="imgs/menu-item-thumbnail-01.jpg")
                                    h5  CARLIC BREAD
                                        p loream ipsum dolor sit amet ,consectetur adipiscing elit.nunce eleifend dapibus
                            .col-lg-6
                                .xx
                                    img.img-fluid(src="imgs/menu-item-thumbnail-02.jpg")
                                    h5  CARLIC BREAD
                                        p loream ipsum dolor sit amet ,consectetur adipiscing elit.nunce eleifend dapibus
                            
                            .col-lg-6
                                .xx
                                    img.img-fluid(src="imgs/menu-item-thumbnail-03.jpg")
                                    h5  CARLIC BREAD
                                        p loream ipsum dolor sit amet ,consectetur adipiscing elit.nunce eleifend dapibus
                                    
                        
    
                .carousel-item.fr
                    .overlay
                    
                    
                    .carousel-caption.d-md-block
                        
                            
                        .row
                            .col-lg-6
                                .xx
                                    img.img-thumbnail(src="imgs/menu-item-thumbnail-04.jpg")
                                    h5  CARLIC BREAD
                                        p loream ipsum dolor sit amet ,consectetur adipiscing elit.nunce eleifend dapibus
                            .col-lg-6
                                .xx
                                    img.img-fluid(src="imgs/menu-item-thumbnail-05.jpg")
                                    h5  CARLIC BREAD
                                        p loream ipsum dolor sit amet ,consectetur adipiscing elit.nunce eleifend dapibus
                            
                            .col-lg-6
                                .xx
                                    img.img-fluid(src="imgs/menu-item-thumbnail-06.jpg")
                                    h5  CARLIC BREAD
                                        p loream ipsum dolor sit amet ,consectetur adipiscing elit.nunce eleifend dapibus
                        
                    
                .carousel-item.fr
                    .overlay
                    
                    .carousel-caption.d-md-block
                        .row
                            .col-lg-6
                                .xx
                                    img.img-thumbnail(src="imgs/menu-item-thumbnail-07.jpg")
                                    h5  CARLIC BREAD
                                        p loream ipsum dolor sit amet ,consectetur adipiscing elit.nunce eleifend dapibus
                            .col-lg-6
                                .xx
                                    img.img-fluid(src="imgs/menu-item-thumbnail-08.jpg")
                                    h5  CARLIC BREAD
                                        p loream ipsum dolor sit amet ,consectetur adipiscing elit.nunce eleifend dapibus
                            
                            .col-lg-6
                                .xx
                                    img.img-fluid(src="imgs/menu-item-thumbnail-09.jpg")
                                    h5  CARLIC BREAD
                                        p loream ipsum dolor sit amet ,consectetur adipiscing elit.nunce eleifend dapibus
                .carousel-item.fr
                    
                    
                    .carousel-caption.d-md-block
                        .row
                            .col-lg-6
                                .xx
                                    img.img-thumbnail(src="imgs/menu-item-thumbnail-10.jpg")
                                    h5  CARLIC BREAD
                                        p loream ipsum dolor sit amet ,consectetur adipiscing elit.nunce eleifend dapibus
                            .col-lg-6
                                .xx
                                    img.img-fluid(src="imgs/menu-item-thumbnail-09.jpg")
                                    h5  CARLIC BREAD
                                        p loream ipsum dolor sit amet ,consectetur adipiscing elit.nunce eleifend dapibus
                            
                            .col-lg-6
                                .xx
                                    img.img-fluid(src="imgs/menu-item-thumbnail-08.jpg")
                                    h5  CARLIC BREAD
                                        p loream ipsum dolor sit amet ,consectetur adipiscing elit.nunce eleifend dapibus
                        
                        
                            
                    
                            
                    
            .carousel-control-prev.prr( type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev")
                span 
                    i.fas.fa-chevron-left
                span.visually-hidden Previous
            .carousel-control-next.prr1(type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next")
                span 
                    i.fas.fa-chevron-right
                span.visually-hidden next