.navbar
    .logo
        img(src="imgs/logo.png")
    ul.list-unstyled
        li.fr
            a(href="#header").lo Home 
        li.sc 
            a(href="#about") About us
        li.th 
            a(href="#menu") Menu
        li.fo 
            a(href="#team") Team
        li.fi 
            a(href="#gallary") Gallary
        li.si 
            a(href="#blog") Blog
        li.se 
            a(href="#pricing") Pricing
        li.ei
            a(href="#reserv") Reservation
        li.nin
            a(href="#contact") Contact us
    .men
        i.fas.fa-bars.fa-2x