.navbar
    .logo
        img(src="imgs/logo.png")
    ul.list-unstyled
        li
            a(href="") Home 
        li 
            a(href="") About us
        li 
            a(href="") Menu
        li 
            a(href="") Team
        li 
            a(href="") Gallary
        li 
            a(href="") Blog
        li 
            a(href="") Pricing
        li 
            a(href="") Reservation
        li 
            a(href="") Contact us
    .men
        i.fas.fa-bars.fa-2x