.pricing#pricing
    h1.text-center Pricing
    p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci varius, elementum lectus nec, aliquam
    p.text-center lectus. Duis neque augue, maximus in sapien ut, porta pharetra odio.
    .container
        .row
            .col-lg-4.boxx1.text-center.col-sm-4.col-12
                .boxx
                    .con
                        .boxim
                            img(src="imgs/store.png")
                            h4.text-center basic
                    ul.list-unstyled
                        li 
                            h4 $30/
                                span Month
                        li
                            i.fas.fa-check  One Website
                        li
                            i.fas.fa-check One User
                        li
                            i.fas.fa-check  10 GB Bandwidth
                        li
                            i.fas.fa-times  2GB Storage
                        li
                            i.fas.fa-times Offline work
                        li
                            i.fas.fa-check  24x7 Support
                    .but1
                        .la
                            a(href="") purchase now

            .col-lg-4.boxx1.text-center.col-sm-4.col-12
                .boxx
                    .con
                        .boxim
                            img(src="imgs/store.png")
                            h4.text-center basic
                    ul.list-unstyled
                        li 
                            h4 $30/
                                span Month
                        li
                            i.fas.fa-check  One Website
                        li
                            i.fas.fa-check One User
                        li
                            i.fas.fa-check  10 GB Bandwidth
                        li
                            i.fas.fa-times  2GB Storage
                        li
                            i.fas.fa-times Offline work
                        li
                            i.fas.fa-check  24x7 Support
                    .but1
                        .la
                            a(href="") purchase now
                
            .col-lg-4.boxx1.text-center.col-sm-4.col-12
                .boxx
                    .con
                        .boxim
                            img(src="imgs/store.png")
                            h4.text-center basic
                    ul.list-unstyled
                        li 
                            h4 $30/
                                span Month
                        li
                            i.fas.fa-check  One Website
                        li
                            i.fas.fa-check One User
                        li
                            i.fas.fa-check  10 GB Bandwidth
                        li
                            i.fas.fa-times  2GB Storage
                        li
                            i.fas.fa-times Offline work
                        li
                            i.fas.fa-check  24x7 Support
                    .but1
                        .la
                            a(href="") purchase now
