.reserv#reserv
    h1.text-center Resrvations
    h4.text-center BOOKING FROM
    p.text-center PLEASE FILL OUT ALL REQUIRED* FIELDS. THANKS!
    .container
        .row
            .col-lg-6
            
                input(type="text" placeholder="Name")
                
            .col-lg-6
                input(type="text" placeholder="Email Id")
            .col-lg-6
                input(type="text" placeholder="Contact No")
            .col-lg-6
                input(type="text" placeholder="Number of persons")
                
            .col-lg-6
                input(type="text" placeholder="Date")
            .col-lg-6
                input(type="text" placeholder="Time")
            .col-lg-6
                input(type="text" placeholder="Prefered food")
            .col-lg-6
                input(type="text" placeholder="Occasion")
        .but2
            a(href="") book my table
.news
    .over
    h1.text-center newsletter
    p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit
    form.text-center
        input(type="text" placeholder="enter your email")
        a(href="") 
            i.fas.fa-paper-plane.fa-lg

