.team
    h1.text-center Our Team
    p.text-center  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
    p.text-center some form, by injected humour, or randomised words which don't look even slightly believable.
    .container
        .row
            .col-lg-4.col-sm-6
                .team1
                    img.img-fluid(src="imgs/staff-01.jpg")
                    h4.text-center John Doggett
                    p.text-center Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Aenean commodo ligula.
                    ul.list-unstyled.text-center
                        li
                            a(href="")
                                i.fab.fa-facebook
                        li
                            a(href="")
                                i.fab.fa-twitter
                        li
                            a(href="")
                                i.fab.fa-linkedin

            .col-lg-4.col-sm-6
                .team1
                    img.img-fluid(src="imgs/staff-02.jpg")
                    h4.text-center John Doggett
                    p.text-center Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Aenean commodo ligula.
                    ul.list-unstyled.text-center
                        li
                            a(href="")
                                i.fab.fa-facebook
                        li
                            a(href="")
                                i.fab.fa-twitter
                        li
                            a(href="")
                                i.fab.fa-linkedin
            .col-lg-4.col-sm-6
                .team1
                    img.img-fluid(src="imgs/staff-03.jpg")
                    h4.text-center John Doggett
                    p.text-center Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Aenean commodo ligula.
                    ul.list-unstyled.text-center
                        li
                            a(href="")
                                i.fab.fa-facebook
                        li
                            a(href="")
                                i.fab.fa-twitter
                        li
                            a(href="")
                                i.fab.fa-linkedin