.contact{
   // 
   .imgg{
    padding-top: 70px;
    position: relative;
    margin-bottom: 60px;
   }
   
    background: url('../imgs/footer_background.jpg');
    background-size: cover;
    position: relative;
    .overr{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: rgba(0,0,0,.6);
    }
    
    .b1{
        h4{
            color:  $orange-color;
            position: relative;

        }
        p{
            color: #fff;
            position: relative;
        }
        ul{
            color: #fff;
            position: relative;
            li{
                margin: 7px;
                display: inline-block;
            }
        }
    }
    .b2{
        h4{
            color: $orange-color;
            position: relative;
        }
        p{
            color: #fff;
            position: relative;
        }
    }
    .b3{
        h4{
            color:  $orange-color;
            position: relative;
        }
        p{
            i{
                margin-right: 10px;
            }
            color: #fff;
            position: relative;
        }
    }
    .b4{
        h4{
            color:  $orange-color;
            position: relative;
        }
        p{
            color: #fff;
            position: relative;
        }
    }
}
.footer{
    text-align: center;
    background-color:  $orange-color;
    border-top: 1px dotted grey;
    padding: 20px;
    color: #fff;
}
.butfix{
    display: none;
    
    position: fixed;
   right: 50px;
   bottom: 100px;
   scroll-behavior: smooth;
  
    a{
        width: 40px;
        height: 40px;
      i{
       
        color: #fff;
        border: 1px solid transparent;
        border-radius: 50%;
        padding: 10px;
        text-align: center;
        background-color: rgba(0,0,0,.5);
        top:50px;
        z-index: 9999;
      }
   
    }
}
.dis{
    display: block !important;
  
}
.set{
    position: fixed;
    right: 0px;
    top:30%;
    z-index: 9999;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    
        
       
      i{
       
 color:#d1d1d1;
 color: #fff;
       //  border: 1px solid transparent;
        //border-radius: 50%;
        padding: 12px;
        padding-top: 7px;
        
     
        top:50px;
        z-index: 9999;
      }
    

}
.colors{
    display: none;
    h4{
    padding-top: 10px;
    }
    position: fixed;
            right: 0px;
            color: #fff;
            top:30%;
            background-color: rgba(0,0,0,.6);
    ul{
        
        

        li{margin: 5px;
            display: inline-block;
            width: 20px;
            height: 40px;
            border: 1px solid #fff;
            
        }
        .orange{
            background-color: #e75b1e;
        }
        .green{
            background-color: #8dc63f;
        }
        .yel{
            background-color: #fdcb03;
        }
        .blue{
            background-color: #1E69B8;
        }
    }
}
.dis2{
    display: block !important;

}
.po1{
    right: 132px !important;
}