a{
    text-decoration: none;
    color:#fff;
    &:hover{
        color: #fff;
    }
}
body{
    padding-bottom: 2000px;
}
*{
    transition: all .6s ease-in-out ;
}
.or1 {
    color: $orange-color ;
    

}
.or2{
    background-color: $orange-color !important;

}
.bl1
{
    color: #1E69B8 !important;
}
.bl2{
    background-color: #1E69B8 !important;
}
.gr1{
    color: $green-color !important;
}
.gr2{
    background-color: $green-color !important;

}
.ye1{
    color: #fdcb03!important;
}
.ye2{
    background-color:#fdcb03 !important;

}