.menu{
    padding-top: 100px;
    h1{
        color: #e75b1e;
    }
    background-color: #f5f5f5;
    .fr{
        padding-bottom: 600px;
    }
    .carousel-indicators{
      //  background-color: #f5f5f5;
       
        top:0;
        bottom: 477px;
      //  left: -200px;
     &:after{
         position: absolute;
         content: '';
         border: 1px solid #000;
         width: 150%;
         bottom: -100px;
         @media(max-width:700px){
             bottom: -30px !important;
     }
    }
       
         
        .dd{
            border-bottom: 1px solid #000;
            padding: 50px;
            
            background-color: transparent !important;
            cursor: pointer;
            margin: 10px;
            @media(max-width:700px){
                h4{
                    font-size: 15px;
                }
            
                font-size: 18px;
                width: 100px;
                height: 100px;
                padding: 10px;
            
        }
        
       // margin: 30px;
           // white-space: nowrap;
          // padding-right: 20px;
          // padding-left: 20px;
            margin: 20px;
            
            background-color: #b8b8b8;
      //  padding: 50px;
            width: 150px;
            height: 200px;
            margin: 20px;
            border: none !important;
            &:active{
                border: none;
            }
            
        }
        .active{

            background-color: #e75b1e !important;
           color: #fff;
        }
    }
    .xx{
        img{
            border-radius: 50%;
            width: 20%;
            height: 20%;
            border: 2px solid #fff;
            object-fit: cover;
        }
        display: flex;
        p,h5{
            color: #000;
        }
        h5{
            margin-left: 30px;
            text-align: left;
            color: #e75b1e;
            p{
                font-weight: 400;
                font-size: 15px;
            text-align: left;
            display: block;
            color: #737373;
                
            }
        }
    }
}
 