.menu{
    background-color: #f5f5f5;
    .fr{
        padding-bottom: 600px;
    }
    .carousel-indicators{
        background-color: #f5f5f5;
       
        top:0;
        bottom: 377px;
      //  border-bottom: 1px solid #000;
        &:after{
            position: absolute;
            content: '';
            width: 150%;
            border:1px solid #000;
            left: -150px;
            top:220px;
        }
        button{
            padding-right: 50px;
            padding-left: 50px;
            margin: 20px;
            
            background-color: #f5f5f5;
           
            width: auto;
            height: 200px;
            border: none !important;
        }
        .active{
            background-color: #e75b1e;
        }
    }
    .xx{
        img{
            border-radius: 50%;
            width: 20%;
            height: 20%;
            border: 2px solid #fff;
            object-fit: cover;
        }
        display: flex;
        p,h5{
            color: #000;
        }
        h5{
            margin-left: 30px;
            text-align: left;
            color: #e75b1e;
            p{
                font-weight: 400;
                font-size: 15px;
              text-align: left;
               display: block;
               color: #737373;
                
            }
        }
    }
}