.navbar{
    position: fixed;
    width: 100%;
    z-index: 99999;
    top:0px;
    background-color: #202020;
    .logo{

    }
  
    .men{
        float: right;
        color: #fff;
        
        top:-15px;
        color: #e75b1e;
        margin-right: 10px;
        display: none;
        @media(max-width:992px)
        {
            display: block;
        }
    }
    ul{
        @media(max-width:992px)
        {
            display: none;
        }
        float: right;
        color: #fff;
        li{
            margin: 10px;
            font-weight: bold;
            display: inline-block;
            a{

            }
            position: relative;
            a{
                &:hover{
                    color: #fff;
                }
            }
            &:hover{
                &:after{
                    content: '';
                    position: absolute;
                    border: 1px solid #fff;
                    width: 100%;
                    left: 0;
                    right: 0;
                    
                   top:30px;
                    
                }

            }

        }
    }
}
.co{
    background-color: transparent;
}