html
    head
        include pug/layout/styles
    body
        
        include pug/layout/navbar
        include pug/layout/header
        include pug/layout/about
        include pug/layout/menu

        include pug/layout/scripts